body {background-color: #ffffff}

  p {text-align: justify;
  text-justify: inter-word;}

  h1 {font-size: 50px;
      line-height:normal;
      text-align: center;
      color: #980100;
      font-family: 'Open Sans', sans-serif;
      padding: 10px;
    font-weight: bold;}

  h2 {font-size: 16px;
      line-height:normal;
      text-align: center;
      color: #191919;
      font-family: 'Open Sans', sans-serif;
      padding: 10px;}


  h3 {font-size: 10px;
      line-height:normal;
      text-align: center;
      color: #191919;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      padding: 10px;}

      .byline {
          max-width: 620px;
          margin: auto;
          text-align: center;
          font-family: 'Baskervville', serif;
          font-size: 26px;
          color: #5B2333;
      }

#headline {Width: 830px;
          margin-left: auto;
          margin-right: auto;
        text-align: center;
        }

#text {Width: 1000px;
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      text-justify: inter-word;}
